body {
    background-color:rgb(37, 13, 145); /* fundo cinza */
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center; 
    overflow: hidden;
}

canvas {
    background-color: #440497;
    display: block;
    border: 5px solid rgb(250, 250, 250); /* borda branca */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* sombra para destaque (opcional) */
}
